body {
    background-image: url("Images/back.png");
    background-size: cover;
  }

#radar {
  background-color: #f7f7f7;
  padding-bottom: 50px;
}

h5 {
  font-family: "Marvel";
}

h1 {
  font-family: "Marvel";
  font-size: 40px;
  text-align: center;
}

.navbar {
  background: none;
}

.well {
  background-color: #f7f7f7 ;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 50px;
}